# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environments
/venv/
/.venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db